.sticker {
    font-size: xx-small;
    font-weight: bold;
    font-family: Arial;
    text-shadow: 1px 1px 2px black;
    color: white;
    width: 135px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: linear-gradient(to left, rgb(13,126,191) 0%, rgb(13,126,191) 80.5%, rgba(87,87,87) 80%, rgba(87,87,87) 100%);
    box-shadow: 1px 1px 3px 1px black;
    border-collapse: separate;
    display: block;
}

.click { display:block; text-decoration: none; }
